<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Start Session</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  {% include "components/sidebar.html" %}

<main class="main-content">

{% include "components/header.html" %}
   


<div class="page fade">

    <div class="session-card">

        <h2>Start Session</h2>

        <div class="line"></div>

        <form action="/session" method="POST">

            <!-- Standard -->

            <div class="session-row">

                <label>Standard</label>

                <select name="std">

                    <option>11th</option>
                    <option selected>12th</option>

                </select>

            </div>

            <!-- Division -->

            <div class="session-row">

                <label>Division</label>

                <select name="div">

                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>

                </select>

            </div>
            <div class="session-row">

                <label>Classroom</label>

                <select name="room">

                    <option>AC-1</option>
                    <option>AC-2</option>
                    <option>AC-3</option>
                    <option>AC-4</option>
                    <option>AC-5</option>
                    <option>AC-6</option>

                    <option>AC-7</option>
                    <option>AC-8</option>
                    <option>AC-9</option>
                    <option>AC-10</option>
                    <option>AC-11</option>
                    <option>AC-12</option>

                    <option>CS Lab 1</option>
                    <option>CS Lab 2</option>

                    <option>Electronics Lab 1</option>
                    <option>Electronics Lab 2</option>

                </select>

            </div>
            <!-- Duration -->

            <div class="session-row">

                <label>Duration</label>

                <select name="time">

                    <option value="45">45 Minutes</option>
                    <option value="60">1 Hour</option>
                    <option value="90">90 Minutes</option>

                </select>

            </div>

            <button class="start-btn">

                Start Session

            </button>

        </form>

    </div>

</div>
<script>

function toggleSidebar(){

    document
        .getElementById("sidebar")
        .classList.toggle("active");

}

</script>
</body>

</html>