<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Attendance Report</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

</head>

<body>

{% include "components/sidebar.html" %}

<main class="main-content">

{% include "components/header.html" %}

<section class="greeting">

<h1>

Attendance Report

</h1>

<p>

Session {{ session_id }}

</p>

</section>

<div class="summary-grid">

<div class="summary-card">

<h2>{{ present }}</h2>

<p>Present</p>

</div>

<div class="summary-card">

<h2>{{ absent }}</h2>

<p>Absent</p>

</div>

<div class="summary-card">

<h2>{{ total }}</h2>

<p>Total Students</p>

</div>

</div>

<div class="card">

<input
type="text"
id="searchInput"
placeholder="Search Student..."
onkeyup="searchStudent()">

<br><br>

<table class="attendance-table" id="attendanceTable">

<thead>

<tr>

<th>ID</th>

<th>Name</th>

<th>Time</th>

<th>Status</th>

</tr>

</thead>

<tbody>

{% for student in students %}

<tr>

<td>{{ student[0] }}</td>

<td>{{ student[1] }}</td>

<td>

{% if student[2] %}

{{ student[2] }}

{% else %}

--

{% endif %}

</td>

<td>

{% if student[2] %}

<span class="present-badge">

Present

</span>

{% else %}

<span class="absent-badge">

Absent

</span>

{% endif %}

</td>

</tr>

{% endfor %}

</tbody>

</table>

<br>

<div class="export-buttons">

<a href="/export_pdf/{{session_id}}">
    <button>
        Export PDF
    </button>
</a>

<a href="/export_excel/{{ session_id }}">
    <button>
        Export Excel
    </button>
</a>

</div>

</div>

</main>

<script>

function toggleSidebar(){

document.getElementById("sidebar").classList.toggle("active");

}

function searchStudent(){

let input=document.getElementById("searchInput");

let filter=input.value.toUpperCase();

let table=document.getElementById("attendanceTable");

let tr=table.getElementsByTagName("tr");

for(let i=1;i<tr.length;i++){

let td=tr[i].getElementsByTagName("td")[1];

if(td){

let txt=td.textContent||td.innerText;

tr[i].style.display=

txt.toUpperCase().indexOf(filter)>-1?"":"none";

}

}

}

</script>

</body>

</html>