/* ==========================================
            LOGIN PAGE
========================================== */

.login-card{

    width:430px;

    margin-top:20px;

    background:var(--card);

    border-radius:28px;

    padding:50px;

    text-align:center;

    border:1px solid var(--border);

    box-shadow:
        0 20px 45px rgba(19,10,13,.10);

}

.login-card{

    width:430px;

    margin:40px auto;

    background:var(--card);

    border-radius:28px;

    padding:50px;

    text-align:center;

    border:1px solid var(--border);

    box-shadow:
        0 20px 45px rgba(19,10,13,.10);

}

.logo{

    width:82px;

    margin-bottom:16px;

}


.login-card h1{

    font-size:40px;

    margin-bottom:5px;

}


.campus{

    font-size:22px;

    color:var(--primary);

    font-weight:700;

}


.subtitle{

    margin-top:10px;

    margin-bottom:35px;

    font-size:14px;

    letter-spacing:.5px;

}


.login-card label{

    display:block;

    text-align:left;

    margin-bottom:8px;

    margin-top:20px;

    font-weight:700;

}


.login-card button{

    width:100%;

    margin-top:35px;

}
