/* ==========================================
        TEACHER DASHBOARD
========================================== */

.dashboard{

    display:flex;

    min-height:100vh;

}

/* =======================
        Dashboard Grid
======================= */

.dashboard-grid{

    display:grid;

    grid-template-columns:
        1fr
        1fr
        1fr;

    gap:30px;

}


/* Cards */

.dashboard-grid .card{

    min-height:320px;

    border-radius:28px;

}


/* Card Heading */

.dashboard-grid h3{

    color:var(--primary-dark);

    margin-bottom:10px;

}


/* Buttons */

.dashboard-grid button{

    width:100%;

}


/* Status */

.dashboard-grid p{

    margin-bottom:12px;

}


/* Hover Animation */

.dashboard-grid .card:hover{

    transform:translateY(-8px);

}


/* =======================
        Responsive
======================= */

@media(max-width:1200px){

.dashboard-grid{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:850px){

.dashboard{

flex-direction:column;

}

.sidebar{

width:100%;

}

.dashboard-grid{

grid-template-columns:1fr;

}

}

